<h2>Amount of staking coins considering addresses active in the last day</h2>
<div id="staking-coins-chart" data-currency="usd" data-days="29">
    <div id="staking-coins-chart-loader" class="m-5 text-center">{{ loaderDots() }}</div>
    <canvas id="staking-coins-chart"></canvas>
</div>
